<?js
var betterDocs

if(env.conf.templates && env.conf.templates.betterDocs) {
    betterDocs = env.conf.templates.betterDocs
} else {
    betterDocs = {}
}
?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ol-kit | <?js= title ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />


    <!-- these scripts must be at the top to properly syntax highlight code examples -->
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js" integrity="sha256-FiZMk1zgTeujzf/+vomWZGZ9r00+xnGvOgXoj0Jo1jA=" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow.min.css">
    <link type="text/css" rel="stylesheet" href="styles/app.css">
    <link type="text/css" rel="stylesheet" href="styles/iframe.css">
</head>

<body>
    <div id="stickyNavbarOverlay"></div>
    <div class="top-navbar">
        <div class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a href="index.html"><img src="static/ol-kit-logo.png" alt="logo"></a>
                    <a id="hamburger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <?js if(betterDocs.navigation && betterDocs.navigation.length) { ?> 
                <div class="navbar-menu">
                    <div class="navbar-end">
                    <?js betterDocs.navigation.forEach(function(nav) { ?>
                        <div class="navbar-item">
                            <a href="<?js= nav.href ?>">
                                <?js= nav.label ?>
                            </a>
                        </div>
                    <?js }); ?>
                    </div>
                </div>
                <?js } ?>
            </nav>
        </div>
    </div>
    <div id="page-wrapper" class="container">
        <div class="columns">
            <div class="column is-3" id="sidebar-nav">
                <div class="sidebar sidebar__inner">
                    <nav>
                        <?js= this.nav ?>
                    </nav>
                </div>
            </div>
            <div class="column is-9-desktop" id="main-content-wrapper">
                <div class="content">
                    <?js= content ?>
                </div>
            </div>
        </div>
    </div>
<footer class="footer">
    <div class="content has-text-centered">
        <div style="margin: 0 auto; text-align: center; background: white; margin: 30px 0;">
            <a href="https://www.cropscience.bayer.com" target="_blank">
                <img src="static/bayer-logo.png" width="200px" />
            </a>
            <div>&copy; 2020 Bayer Crop Science; All Rights Reserved. <br />
            <a style="color: #a2a2a2" target="_blank" href="https://bayer.talentnet.community/jobs/881c8317-33b7-435f-9410-359b1b925322"> Geospatial Developer Career Opportunities </a>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js" integrity="sha256-vrn14y7WH7zgEElyQqm2uCGSQrX/xjYDjniRUQx3NyU=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sticky-sidebar/dist/sticky-sidebar.min.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
